<template>
  <div class="errorPage">
    <img class="errorPage__background" src="@/assets/candlelight.jpg">
    <Navigation />
    <div class="errorPage__content">
      <FontAwesomeIcon class="errorPage__icon"
                       :icon="['fas', 'skull-crossbones']"
                       size="6x"
                       spin />
      <h1 class="errorPage__header errorPage__header--first">
        404
      </h1>
      <h2 class="errorPage__header errorPage__header--second">
        Despite best efforts, there appears to be nothing to watch over here!
      </h2>
      <p class="errorPage__text">
        Why don't you <router-link to="/">head back home</router-link> and guard something important.
      </p>
      <p class="errorPage__text">
         If you think there should be something worth keeping vigil over at this location, <a href="mailto:lmzbonack@arizona.edu?subject=Vigil Error">ring the tower bells to notify us.</a>
      </p>
    </div>

  </div>
</template>

<script>
export default {
  name: 'ErrorPage'
}
</script>

<style lang="postcss" scoped>
.errorPage {
  @apply text-gray-100;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.errorPage__background {
  position: fixed;
  top: 0;
  left: 0;

  /* Set behind everything */
  z-index: -1;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.errorPage__content {
  width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.errorPage__icon {
  @apply mx-auto my-4;
}

.errorPage__header {
  @apply my-4;
}

.errorPage__header--first {
  @apply text-4xl font-semibold;
}

.errorPage__header--second {
  @apply text-2xl font-semibold;
}

.errorPage__text {
  @apply mb-4;
}

.errorPage__text a {
  color: theme('colors.primary.500');
  text-decoration: none;
}

.errorPage__text a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.errorPage__text a:visited {
  color: theme('colors.primary.700')
}
</style>
