<template>
  <div class="container mx-auto">
    <vue-good-table
      class="mb-4"
      :columns="columns"
      :rows="rows"
      :fixed-header="true"
      :line-numbers="true"
      max-height="500px"
      :search-options="{
          enabled: true,
          skipDiacritics: true,
          placeholder: 'Search',
      }"
      :sort-options="{
          enabled: true,
          initialSortBy: {field: 'created', type: 'desc'}
      }"
      :pagination-options="{
          enabled: true,
          mode: 'pages',
          position: 'bottom',
          perPage: 50,
      }"
    >
      <div slot="table-actions">
        <ButtonBase color="primary" text-color="white"
                    @click="getErrors">
          <FontAwesomeIcon class="mr-2" :icon="['fas', 'history']"></FontAwesomeIcon>
          Load More
        </ButtonBase>
        <ButtonBase class="ml-2"
                    color="secondary" text-color="white"
                    @click="refresh">
          <FontAwesomeIcon class="mr-2" :icon="['fas', 'sync-alt']"></FontAwesomeIcon>
          Refresh
        </ButtonBase>
        <span id="count" class="mx-2"> {{ fetchedErrorsLength }} records</span>
      </div>
    </vue-good-table>
  </div>
</template>

<script>
import StreamSetsService from '@/store/services/StreamSetsService'

export default {
  name: 'Errors',
  data () {
    return {
      columns: [
        {
          label: 'ID',
          field: 'id',
          type: 'number'
        },
        {
          label: 'Error Source Name',
          field: 'error_source_name'
        },
        {
          label: 'Error Source ID',
          field: 'error_source_id',
          type: 'number'
        },
        {
          label: 'Error Code',
          field: 'error_code'
        },
        {
          label: 'Error Source',
          field: 'error_source'
        },
        {
          label: 'Created',
          field: 'created'
        }
      ],
      rows: [],
      paginationCounter: 1
    }
  },
  mounted () {
    this.getErrors(this.paginationCounter)
  },
  methods: {
    getErrors () {
      StreamSetsService.fetchErrors(this.paginationCounter).then(response => {
        this.paginationCounter = this.paginationCounter + 1
        const arrConvert = JSON.parse(response.data.body)
        arrConvert.forEach(item => {
          this.rows.push(item)
        })
      }).catch(function (error) {
        console.error(error)
      })
    },
    refresh () {
      this.rows = []
      this.paginationCounter = 1
      this.getErrors(this.paginationCounter)
    }
  },
  computed: {
    fetchedErrorsLength: function () {
      return this.rows.length
    }
  }
}

</script>

<style lang="scss" scoped>
.table-button {
  background-color :rgba(0, 125, 132, 0.4);;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 10px;
  margin-left: 10px;
}

#count {
  margin-right: 10px;
  color: black
}
</style>
