<template>
  <div class="loginPage">
    <img class="loginPage__background" src="@/assets/candlelight.jpg">
    <div class="loginPage__content">
      <img class="loginPage__logo"
           width="200"
           alt="Vigil Logo"
           src="@/assets/VigilFull.png">
      <p class="my-2 mx-auto text-center">
        <strong class="font-bold">Vigil </strong>
        <em class="italic">noun.</em>
        a purposeful surveillance to guard or observe
      </p>
      <h1 class="loginPage__header">
        Login
      </h1>
      <FormWrapper>
        <BannerBase v-if="hasError"
                    class="loginFail"
                    color="danger">
          <FontAwesomeIcon :icon="['fas', 'skull-crossbones']"
                          fixed-width
                          class="loginFail__icon">
          </FontAwesomeIcon>
          <strong class="loginFail__message">Unable to log in!</strong>
          <span class="loginFail__suggestion">Check your username and password.</span>
        </BannerBase>
        <InputBase type="text"
                  label="Email"
                  text-color="light"
                  bg-color="transparent"
                  v-model="login.email"
                  :error="login.emailError" />
        <InputBase type="password"
                  label="Password"
                  text-color="light"
                  bg-color="transparent"
                  v-model="login.password"
                  :error="login.passwordError" />
        <ButtonBase class="block mx-auto"
                    type="button"
                    color="primary"
                    text-color="white"
                    @click="onLogin"
                    v-shortkey="['enter']" @shortkey.stop="onLogin">
          <FontAwesomeIcon class="mr-2" :icon="['fas', 'dungeon']"></FontAwesomeIcon>
          Stand Watch
        </ButtonBase>
      </FormWrapper>
    </div>
  </div>
</template>

<script>
import router from '../router'
import axios from 'axios'
import { mapGetters } from 'vuex'
export default {
  name: 'Login',
  data () {
    return {
      login: {
        email: '',
        emailError: '',
        password: '',
        passwordError: ''
      },
      hasError: false
    }
  },
  mounted () {
    // console.log(this.user)
    if (this.user != null) {
      router.push('/pipelines')
    }
  },
  methods: {
    onLogin () {
      this.login.emailError = ''
      this.login.passwordError = ''
      if (this.login.email === '') {
        this.login.emailError = 'Please provide an email'
      } else if (this.login.password === '') {
        this.login.passwordError = 'Please provide a password'
      } else {
        // Reset error warning if it is showing
        this.hasError = false
        // Build Axios query
        let data = {
          email: this.login.email,
          password: this.login.password
        }
        axios
          .post('/api/login', data)
          .then(response => {
            router.push('/pipelines')
          })
          .catch(errors => {
            this.hasError = true
            console.error('Error: Cannot log in')
            console.error(errors)
          })
      }
    }
  },
  computed: {
    ...mapGetters('users', [
      'user'
    ])
  }
}
</script>

<style lang="postcss" scoped>
.loginPage {
  @apply text-gray-100;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.loginPage__background {
  position: fixed;
  top: 0;
  left: 0;

  /* Set behind everything */
  z-index: -1;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.loginPage__content {
  width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginPage__logo {
  @apply mx-auto rounded-lg bg-gray-300;
}

.loginPage__header {
  @apply my-4 text-center text-2xl font-semibold;
}

.loginFail {
  @apply mb-4;
}

.loginFail__icon {
  @apply absolute top-0 bottom-0 left-0 mx-4 my-auto;
}

.loginFail__message {
  @apply ml-8 font-bold;
}

.loginFail__suggestion {
  @apply block ml-8;
}
</style>
