<template>
  <div class="pipelines container">
    <Alert v-if="inactivePipelines.length > 0"
           id='runningPipelinesAlert'
           :notice='inactivePipelineMessage'
           color='warning'>
    </Alert>
    <vue-up class="notification"></vue-up>
    <div class="pipelines__controlButtons">
      <ButtonBase class="pipelines__controlButton"
                  color="success"
                  text-color="white"
                  @click="startAll">
        <FontAwesomeIcon class="mr-2" :icon="['fas', 'play']"></FontAwesomeIcon>
        Start
      </ButtonBase>
      <ButtonBase class="pipelines__controlButton"
                  color="danger"
                  text-color="white"
                  @click="stopAll">
        <FontAwesomeIcon class="mr-2" :icon="['fas', 'stop']"></FontAwesomeIcon>
        Stop
      </ButtonBase>
      <ButtonBase class="pipelines__controlButton"
                  color="primary"
                  text-color="white"
                  @click="fetchPipelines(true)">
        <FontAwesomeIcon class="mr-2" :icon="['fas', 'sync-alt']"></FontAwesomeIcon>
        Refresh
      </ButtonBase>
    </div>
    <div class="pipelines__wrapper">
      <CardPipeline v-for="pipe in pipelines"
                    :key="pipe.name"
                    project="Oribus"
                    :pipeline-id="pipe.id"
                    :title="pipe.title"
                    :status="pipe.status"
                    :start-time="pipe.timestamp" />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'
import StreamSetsService from '@/store/services/StreamSetsService'
import router from '@/router'
import CardPipeline from '@/components/CardPipeline'
import Alert from '@/components/Alert'

export default {
  // Add computed prop to return how many pipelines are down consume it in alert
  // Try to get the alert timeout working
  // Create a service to log users in - Redirect within that service to try to fix flashing issue
  name: 'Pipelines',
  data () {
    return {
      inactivePipelines: [],
      pipelinesThatCouldNotBeFound: []
    }
  },
  components: {
    CardPipeline,
    Alert
  },
  async mounted () {
    try {
      // Get logged in user
      let loggedIn = await axios.get('/api/user')
      if (loggedIn.status === 200) {
        this.setUser(loggedIn.data.user)
        await this.fetchPipelines(false)
        this.inactivePipelines = this.pipelines.filter(pipe => pipe.status !== 'RUNNING')
        window.setInterval(() => {
          this.fetchPipelines(true)
        }, 500000)
      }
    } catch (error) {
      console.error(error)
      router.push('/')
    }
  },
  methods: {
    ...mapActions('users', [
      'setUser'
    ]),
    ...mapActions('pipelines', [
      'fetchTrackedPipelines',
      'fetchPipelines'
    ]),
    stopAll () {
      StreamSetsService.stopAll().then(response => {
        this.fetchPipelines(true)
      })
    },
    startAll () {
      StreamSetsService.startAll().then(response => {
        this.fetchPipelines(true)
      })
    }
  },
  computed: {
    ...mapGetters('users', [
      'user'
    ]),
    ...mapGetters('pipelines', [
      'pipelines'
    ]),
    inactivePipelineMessage () {
      return `There are ${this.inactivePipelines.length} pipelines not running`
    }
  }
}
</script>

<style lang="postcss" scoped>
.pipelines {
  @apply mx-auto;
}

.pipelines__controlButtons {
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}

.pipelines__controlButton {
  display: inline-block;
  margin-left: .25rem;
  margin-right: .25rem;
}

.pipelines__wrapper {
  @apply flex flex-row flex-wrap -mx-2 mt-4 px-2
}

/* Modal things */
.notification {
  width: 50%;
  height: 30%;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}
</style>
