<template>
  <div class="trackedPipelines container">
    <FormWrapper class="trackedPipelines__form">
      <div class="block text-primary-500 font-bold uppercase text-sm mb-1">
        New Pipeline
      </div>
      <p class="my-2 text-gray-700">
        Add a new Streamsets pipeline to be tracked by Vigil.
      </p>
      <InputBase type="text"
                 label="Pipeline ID"
                 :error="newPipeline.pipelineIdError"
                 v-model="newPipeline.pipelineId"/>
      <CheckboxBase class="inline-block mx-2"
                    v-model="newPipeline.streaming">
        Streaming
      </CheckboxBase>
      <CheckboxBase class="inline-block"
                    v-model="newPipeline.batch">
        Batch
      </CheckboxBase>
      <ButtonBase class="inline-block float-right mb-1"
                  color="primary"
                  text-color="white"
                  @click="addPipeline">
        <FontAwesomeIcon class="mr-2" :icon="['fas', 'plus-square']"></FontAwesomeIcon>
        Add Pipeline
      </ButtonBase>
    </FormWrapper>
    <vue-good-table class="mb-4"
                    :columns="columns"
                    :rows="trackedPipelines"
                    max-height="500px"
                    @on-row-dblclick="openDetailsModal"
                    :search-options="{ enabled: true, skipDiacritics: true, placeholder: 'Search' }" />
    <TrackedPipelineDetailsModal :trackedPipeline="activeTrackedPipeline"/>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'
import router from '@/router'
import TrackedPipelineDetailsModal from '@/components/TrackedPipelineDetailsModal'

export default {
  name: 'TrackedPipelines',
  components: {
    TrackedPipelineDetailsModal
  },
  mounted () {
    axios.get('/api/user').then(res => {
      this.setUser(res.data.user)
      this.fetchTrackedPipelines()
    }).catch((errors) => {
      console.error(errors)
      router.push('/')
    })
  },
  data () {
    return {
      newPipeline: {
        pipelineId: '',
        pipelineIdError: '',
        streaming: null,
        streamingError: null,
        batch: null,
        batchError: null
      },
      activeTrackedPipeline: {
        pipeline_id: null,
        added_by: null,
        streaming: null,
        batch: null
      },
      columns: [
        {
          label: 'Pipeline ID',
          field: 'pipeline_id',
          type: 'string'
        },
        {
          label: 'Added By',
          field: 'added_by',
          type: 'string'
        },
        {
          label: 'Streaming',
          field: 'streaming',
          type: 'boolean',
          formatFn: this.booleanFormatter
        },
        {
          label: 'Batch',
          field: 'batch',
          type: 'boolean',
          formatFn: this.booleanFormatter
        }
      ]
    }
  },
  methods: {
    ...mapActions('users', [
      'setUser',
      'clearUser'
    ]),
    ...mapActions('pipelines', [
      'fetchTrackedPipelines',
      'addTrackedPipeline',
      'clearErrors'
    ]),
    booleanFormatter (val) {
      return val === true
        ? 'Yes'
        : 'No'
    },
    openDetailsModal (params) {
      this.activeTrackedPipeline.pipeline_id = params.row.pipeline_id
      this.activeTrackedPipeline.added_by = params.row.added_by
      this.activeTrackedPipeline.streaming = params.row.streaming
      this.activeTrackedPipeline.batch = params.row.batch
      this.openTrackedPipelineDetailsModal()
    },
    async addPipeline () {
      const payload = {
        added_by: this.user.username,
        pipeline_id: this.newPipeline.pipelineId,
        batch: this.newPipeline.batch,
        streaming: this.newPipeline.streaming
      }
      await this.resetNewPipeline()
      await this.addTrackedPipeline(payload)
      this.newPipeline.pipelineIdError = this.errors.body
    },
    openTrackedPipelineDetailsModal () {
      this.$modal.show(`tracked-pipelines-modal${this.activeTrackedPipeline.pipeline_id}`)
    },
    resetNewPipeline () {
      this.newPipeline.pipelineId = ''
      this.newPipeline.pipelineIdError = ''
      this.clearErrors()
    }
  },
  computed: {
    ...mapGetters('users', [
      'user'
    ]),
    ...mapGetters('pipelines', [
      'trackedPipelines',
      'errors'
    ])
  }
}
</script>

<style lang="postcss" scoped>
.trackedPipelines {
  @apply mx-auto;
}

.trackedPipelines__form {
  width: 400px;
}
</style>
