<template>
  <div
    :class="this.classes"
    role="alert"
    v-show="isShown"
  >
    <slot name="content">
      <span class="font-weight-bold">{{ notice }}</span>
      <span v-if="dismissable" @click="hide" class="float-right">
        <svg class="fill-current h-6 w-6" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
      </span>
    </slot>
  </div>
</template>

<script>

export default {
  name: 'Alert',
  props: {
    /**
     * Background and/or border color for the button. Uses tailwind colors.
     * @property {String}
     */
    color: {
      type: String,
      default: 'secondary'
    },
    /**
     * Brightness (i.e. shade) of the selected `color`. 100-900 are acceptable.
     * @property {Number}
     */
    colorBrightness: {
      type: Number,
      default: 500
    },
    /**
     * Color of the foreground text, only used for hover state when `outline` is set to `true`
     * @property {String}
     */
    textColor: {
      type: String,
      default: 'black'
    },
    /**
     * Make this an outline button
     * @property {Boolean}
     */
    outline: {
      type: Boolean,
      default: false
    },
    notice: {
      type: String,
      default: ''
    },
    dismissable: {
      type: Boolean,
      default: true
    },
    timeout: {
      type: Number,
      default: 3
    }
  },
  data () {
    return {
      isShown: true,
      dismiss: undefined
    }
  },
  computed: {
    /**
     * Return the background and border styles depending on whether the button is an outline or not
     * @returns {String}
     */
    colorStyle () {
      return (!this.outline)
        ? `bg-${this.color}-${this.colorBrightness} hover:bg-${this.color}-${this.colorBrightness - 200}`
        : `bg-transparent hover:bg-${this.color}-${this.colorBrightness} border-${this.color} hover:border-transparent`
    },
    /**
     * Return the proper text and foreground styles
     * @returns {String}
     */
    textStyle () {
      return (!this.outline)
        ? `text-${this.textColor}`
        : `text-${this.colorStyle} hover:text-${this.textColor}`
    },
    /**
     * Build the classes we need to apply to the button
     * @returns {Array}
     */
    classes () {
      return [
        this.colorStyle,
        this.textStyle,
        'font-semibold',
        'text-base',
        'py-2',
        'px-4',
        'rounded'
      ]
    }
  },
  mounted () {
    console.log(this.timeout)
  },
  updated () {
    console.log('called updated')
    if (this.timeout) {
      this.setDismiss()
    } else {
      return null
    }
  },
  methods: {
    /**
     * Hide the alert
     */
    hide () {
      this.isShown = false
      this.$emit('hidden')
    },
    /**
     * Show the alert
     */
    show () {
      this.isShown = true
      this.$emit('shown')
    },
    /**
     * Toggle visibility of the alert
     */
    toggle () {
      this.isShown ? this.hide() : this.show()
    },
    /**
     * Set a timer to hide the alert after a specified number of milliseconds
     * @prop {Number} timeout ms after which to hide the alert, overriden by the `timeout` property
     * @returns {Object} the `setTimeout` function callback
     */
    setDismiss (timeout) {
      console.log('timeout set')
      let vm = this
      this.dismiss = setTimeout(() => {
        console.log('VM hidden')
        vm.hide()
      }, vm.timeout || timeout)
      return this.dismiss
    },
    /**
     * Clear a timer, preventing any timed close defined in `timeout` or via the `setDismiss()` method
     */
    clearDismiss () {
      clearTimeout(this.dismiss)
      this.dismiss = undefined
    }
  }
}
</script>
