<template>
  <div :class="bannerClasses">
    <slot></slot>
    <span v-if="dismissable"
          class="absolute top-0 bottom-0 right-0 px-4 py-3"
          @click="dismiss">
      <FontAwesomeIcon :icon="['fas', 'times']" fixed-width />
    </span>
  </div>
</template>

<script>
// Example:
// <BannerBase v-if="showBanner"
//             class="mb-4"
//             color="danger"
//             dismissable
//             @close="showBanner = !showBanner">
//   <strong class="font-bold">Unable to log in! </strong>
//   <span class="block sm:inline">Check your username and password.</span>
// </BannerBase>

export default {
  name: 'BannerBase',
  props: {
    /**
     * Allow dismissing of the alert. When clicked, the X will fire the `@close` event which can be handled in the parent.
     * @prop {Boolean}
     */
    dismissable: {
      type: Boolean,
      default: false
    },
    /**
     * Color of the alert, must be a tailwind color
     * @prop {String}
     */
    color: {
      type: String,
      default: 'gray'
    }
  },
  computed: {
    colorClasses () {
      return `bg-${this.color}-100 border-${this.color}-400 text-${this.color}-700`
    },
    bannerClasses () {
      return [
        this.colorClasses,
        'border',
        'px-4',
        'py-3',
        'rounded',
        'relative'
      ]
    }
  },
  methods: {
    dismiss () {
      this.$emit('close')
    }
  }
}
</script>
