<template>
  <button v-bind="$attrs" v-on="$listeners"
          :class="this.classes"
          :disabled="this.disabled"
          type="button" aria-pressed="active">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'ButtonBase',
  props: {
    /**
     * Background and/or border color for the button. Uses tailwind colors.
     * @property {String}
     */
    color: {
      type: String,
      default: 'secondary'
    },
    /**
     * Brightness (i.e. shade) of the selected `color`. 100-900 are acceptable.
     * @property {Number}
     */
    colorBrightness: {
      type: Number,
      default: 500
    },
    /**
     * Color of the foreground text, only used for hover state when `outline` is set to `true`
     * @property {String}
     */
    textColor: {
      type: String,
      default: 'black'
    },
    /**
     * Make this an outline button
     * @property {Boolean}
     */
    outline: {
      type: Boolean,
      default: false
    },
    /**
     * Disable the element
     * @property {Boolean}
     */
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    /**
     * Return the background and border styles depending on whether the button is an outline or not
     * @returns {String}
     */
    colorStyle () {
      return (!this.outline)
        ? `bg-${this.color}-${this.colorBrightness} hover:bg-${this.color}-${this.colorBrightness + 200}`
        : `bg-transparent hover:bg-${this.color}-${this.colorBrightness} border-${this.color} hover:border-transparent`
    },
    /**
     * Return the proper text and foreground styles
     * @returns {String}
     */
    textStyle () {
      return (!this.outline)
        ? `text-${this.textColor}`
        : `text-${this.colorStyle} hover:text-${this.textColor}`
    },
    /**
     * Build the classes we need to apply to the button
     * @returns {Array}
     */
    classes () {
      return [
        this.colorStyle,
        this.textStyle,
        // If disabled change some styles
        this.disabled && 'opacity-50 cursor-not-allowed',
        'font-semibold',
        'text-base',
        'py-2',
        'px-4',
        'rounded'
        // TODO: generate or create in this component outlines for the theme colors
        // See https://tailwindcss.com/docs/box-shadow
        // 'focus:outline-none focus:shadow-outline'
      ]
    }
  }
}
</script>
