<template>
  <div class="w-full sm:w-1/2 lg:w-1/3">
    <div class="cardPipeline">
      <span class="cardPipeline__project">
        {{ project }}
      </span>
      <span class="cardPipeline__title">
        <a :href="getPipelineURL" target="_blank" class="break-words">
          {{ title }}
        </a>
      </span>
      <div class="cardPipeline__details">
        <span class="block">
          <strong class="inline font-bold">Status: </strong>
          <p class="inline" :class="statusColor">{{ status }}</p>
        </span>
        <span class="block">
          <strong class="font-bold">Last Started: </strong> {{ humanizedStartTime }}
        </span>
      </div>
      <div class="cardPipeline__commands">
        <ButtonBase v-if="status != 'RUNNING'"
                    class="cardPipeline__command"
                    color="success"
                    text-color="white"
                    @click="onStartPipeline">
          <FontAwesomeIcon class="mr-2" :icon="['fas', 'play']"></FontAwesomeIcon>
          Start
        </ButtonBase>
        <ButtonBase v-else
                    class="cardPipeline__command"
                    color="danger"
                    text-color="white"
                    @click="onStopPipeline">
          <FontAwesomeIcon class="mr-2" :icon="['fas', 'stop']"></FontAwesomeIcon>
          Stop
        </ButtonBase>
        <ButtonBase class="cardPipeline__command"
                    color="primary"
                    text-color="white"
                    @click="onOpenDetailsModal">
          <FontAwesomeIcon class="mr-2" :icon="['fas', 'stream']"></FontAwesomeIcon>
          Details
        </ButtonBase>
      </div>
      <PipelineDetailsModal :pipeline-title="title"
                            :pipeline-id="pipelineId"
                            :project="project"
                            :status="status"
                            :start-time="startTime" />
    </div>
  </div>
</template>

<script>
import PipelineDetailsModal from '@/components/PipelineDetailsModal.vue'
import StreamSetsService from '@/store/services/StreamSetsService'
let moment = require('moment')

export default {
  pipelineId: 'CardPipeline',
  components: {
    PipelineDetailsModal
  },
  props: {
    /**
     * Pipeline title
     * @property {String} title
     */
    title: {
      type: String,
      required: true
    },
    /**
     * Define the project the pipeline belongs to
     * Default: `'Pipeline'`
     * @property {String} project
     */
    project: {
      type: String,
      default: 'Pipeline'
    },
    /**
     * The pipeline's current status
     * @property {String} status
     */
    status: {
      type: String,
      required: true,
      validator: (value) => [
        'RUNNING',
        'STOPPED'
      ].indexOf(value) > -1
    },
    /**
     * The pipeline's start time
     * @property {Number} startTime a time stamp
     */
    startTime: {
      type: Number,
      required: true
    },
    /**
     * The pipeline's id
     * @property {String} pipelineId
     */
    pipelineId: {
      type: String,
      required: true
    }
  },
  computed: {
    // Remove the GUID from the end of the pipeline pipelineId for human readability
    shortName () {
      return this.pipelineId.slice(0, -36)
    },
    getPipelineURL () {
      return `${process.env.VUE_APP_STREAMSETS_SERVER}/collector/pipeline/${this.pipelineId}`
    },
    humanizedStartTime () {
      return moment(this.startTime).startOf('minute').fromNow()
    },
    statusColor () {
      return this.status === 'RUNNING'
        ? 'text-success-500'
        : 'text-danger-500'
    }
  },
  methods: {
    /**
     * Open a modal with more information
    */
    onOpenDetailsModal () {
      this.$modal.show(`detail-modal${this.pipelineId}`)
    },
    /**
     * Start the pipeline
     */
    onStartPipeline () {
      StreamSetsService.startPipeline(this.pipelineId).then(response => {
        console.log(response)
      })
    },
    /**
     * Start the pipeline
     */
    onStopPipeline () {
      StreamSetsService.stopPipeline(this.pipelineId).then(response => {
        console.log(response)
      })
    }
  }
}
</script>

<style lang="postcss" scoped>
.cardPipeline {
  @apply bg-gray-100 border-gray-100 border-2 rounded p-4 mx-2 mb-4;
}

.cardPipeline:hover {
  @apply bg-gray-200 border-primary-500;
}

.cardPipeline__project {
  @apply block text-primary-500 font-bold uppercase text-sm mb-1
}

.cardPipeline__title {
  @apply block text-gray-900 font-bold text-xl mb-1;
}

.cardPipeline__title:hover {
  color: theme('colors.primary.500');
  cursor: pointer;
}

.cardPipeline__details {
  @apply text-gray-700 text-base;
}

.cardPipeline__commands {
  @apply mx-1 p-2 text-center;
}

.cardPipeline__command {
  @apply inline-block mx-1;
}
</style>
