<template>
  <div class="mb-6">
    <label :id="id"
           class="block text-gray-600 text-sm mb-1 pr-4">
      {{ label }}
    </label>
    <input :class="inputClasses"
           :checked="checked"
           @change="onUpdate($event.target.checked)"
           v-bind="$attrs"
           type="checkbox"
           :aria-labelledby="id">
      <span class="text-sm">
        <slot></slot>
      </span>
    <slot name="successMessage">
      <span v-if="hasSuccess"
            class="my-2 text-sm text-success-500">
        {{ success }}
      </span>
    </slot>
    <slot name="errorMessage">
      <span v-if="hasError"
            class="my-2 text-sm text-danger-500">
        {{ error }}
      </span>
    </slot>
    <slot name="description">
      <span v-if="hasDescription"
            class="my-2 text-xs text-gray-500">
        {{ description }}
      </span>
    </slot>
  </div>
</template>

<script>
export default {
  name: 'InputBase',
  inheritAttrs: false,
  model: {
    prop: 'checked',
    event: 'change'
  },
  props: {
    type: {
      type: String,
      default: 'text',
      validator: function (value) {
        return [
          'text',
          'password',
          'datetime-local',
          'date',
          'month',
          'time',
          'week',
          'number',
          'email',
          'url',
          'search',
          'tel',
          'color'
        ].indexOf(value) > -1
      }
    },
    label: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    success: {
      type: String,
      default: ''
    },
    error: {
      type: String,
      default: ''
    },
    checked: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    id () { return `${this.label.replace(/\s/g, '')}-checkbox` },
    hasSuccess () { return this.success !== '' },
    hasError () { return this.error !== '' },
    hasDescription () { return this.description !== '' },
    focusColor () {
      let result = 'primary'
      if (this.hasSuccess) {
        result = 'success'
      } else if (this.hasError) {
        result = 'danger'
      }
      return `focus:border-${result}-500 !important`
    },
    stateColor () {
      return '' // TODO
    },
    inputClasses () {
      return [
        'form-checkbox',
        'bg-gray-200',
        'mr-2',
        'leading-tight',
        'focus:outline-none',
        'text-primary-500',
        (!this.hasError || !this.hasSuccess) ? 'focus:shadow-outline-primary' : 'focus:shadow-none',
        this.focusColor,
        this.stateColor
      ]
    }
  },
  methods: {
    onUpdate (val) {
      let value = val
      if (val === undefined) {
        value = false
      }
      this.$emit('change', value, this.id)
    }
  }
}
</script>
