<template>
  <div class="mb-6">
    <label :id="id"
           class="block text-sm mb-1 pr-4"
           :class="[textStyle]">
      {{ label }}
    </label>
    <input :class="inputClasses"
           v-bind="$attrs"
           :type="type"
           :value="value"
           @input="onInput"
           :aria-labelledby="id" />
    <slot name="successMessage">
      <span v-if="hasSuccess"
            class="my-2 text-sm text-success-500">
        {{ success }}
      </span>
    </slot>
    <slot name="errorMessage">
      <span v-if="hasError"
            class="my-2 text-sm text-danger-500">
        {{ error }}
      </span>
    </slot>
    <slot name="description">
      <span v-if="hasDescription"
            class="my-2 text-xs"
            :class="[textStyle]">
        {{ description }}
      </span>
    </slot>
  </div>
</template>

<script>
export default {
  name: 'InputBase',
  inheritAttrs: false,
  props: {
    type: {
      type: String,
      default: 'text',
      validator: function (value) {
        return [
          'text',
          'password',
          'datetime-local',
          'date',
          'month',
          'time',
          'week',
          'number',
          'email',
          'url',
          'search',
          'tel',
          'color'
        ].indexOf(value) > -1
      }
    },
    label: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    success: {
      type: String,
      default: ''
    },
    error: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Number],
      default: ''
    },
    textColor: {
      type: String,
      default: 'dark',
      validator: function (value) {
        return [
          'dark',
          'light'
        ].indexOf(value) > -1
      }
    },
    bgColor: {
      type: String,
      default: 'light',
      validator: function (value) {
        return [
          'dark',
          'light',
          'transparent'
        ].indexOf(value) > -1
      }
    }
  },
  computed: {
    id () { return `${this.label.replace(/\s/g, '')}-${this.type}-input` },
    hasSuccess () { return this.success !== '' },
    hasError () { return this.error !== '' },
    hasDescription () { return this.description !== '' },
    focusStyle () {
      let result = 'primary'
      if (this.hasSuccess) {
        result = 'success'
      } else if (this.hasError) {
        result = 'danger'
      }
      return `focus:border-${result}-500`
    },
    textStyle () {
      let result = ''
      if (this.textColor === 'light') {
        result = 'text-gray-200'
      } else if (this.textColor === 'dark') {
        result = 'text-gray-800'
      }
      return result
    },
    bgStyle () {
      let result = ''
      if (this.bgColor === 'light') {
        result = 'bg-gray-200 border-gray-200 focus:bg-white'
      } else if (this.bgColor === 'dark') {
        result = 'bg-gray-800 border-gray-800 focus:bg-dark'
      } else if (this.bgColor === 'transparent') {
        result = 'bg-transparent border-gray-500 focus:bg-transparent'
      }
      return result
    },
    inputClasses () {
      return [
        'appearance-none',
        'border-2',
        'rounded',
        'w-full',
        'py-2',
        'px-4',
        'leading-tight',
        'focus:outline-none',
        (!this.hasError || !this.hasSuccess) ? 'focus:shadow-outline-primary' : 'focus:shadow-none',
        this.focusStyle,
        this.textStyle,
        this.bgStyle
      ]
    }
  },
  methods: {
    onInput (event) {
      this.$emit('input', event.target.value)
    }
  }
}
</script>
