<template>
  <nav class="navbar" role="navigation">
    <vue-navigation-bar class="container mx-auto"
                        :options="navbarOptions"
                        @vnb-item-clicked="onItemClick" />
  </nav>
</template>

<script>
import vigilLogo from '@/assets/vigil.png'

export default {
  name: 'Navbar',
  data () {
    return {
      navbarOptions: {
        elementId: 'main-navbar',
        brandImagePath: '/',
        brandImage: vigilLogo,
        brandImageAltText: 'Vigil',
        isUsingVueRouter: true,
        mobileBreakpoint: 650,
        menuOptionsLeft: [
          {
            type: 'link',
            text: 'Pipelines',
            path: '/pipelines'
          },
          {
            type: 'link',
            text: 'Tracked Pipelines',
            path: '/tracked-pipelines'
          },
          {
            type: 'link',
            text: 'Errors',
            path: '/errors'
          },
          {
            type: 'link',
            text: 'Telemetry',
            path: '/telemetry'
          }
        ],
        menuOptionsRight: [
          {
            type: 'link',
            text: 'Login',
            path: '/login'
          }
        ]
      }
    }
  },
  methods: {
    onItemClick (text) {
      // This may actually be useful for something in the future
      // Leaving it for now
      // console.log(text)
    }
  }
}
</script>

<style lang="scss">
.navbar {
  margin-top: 0;
}

//
// vue-navigation-bar customization
//
.vnb {
  background: transparent;

  .vnb__brand-image-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .vnb__menu-options--left {
    padding-left: 0 !important;
  }

  .vnb__menu-options__option {
    margin-right: 1em;
    margin-left: 1em;

    &:not(:last-child) {
      margin-right: 1em;
    }

    .vnb__menu-options__option__link {
      &:hover {
        color: theme('colors.primary.500');
      }

      &.router-link-exact-active {
        font-weight: 700;
      }
    }
  }

  .custom-section-content {
    width: 100%;
    @media (min-width: 568px) {
      width: 50%;
    }
    @media (min-width: 992px) {
      width: 15%;
    }
    @media (min-width: 1200px) {
      width: 20%;
    }
  }

  .vnb__popup__bottom__menu-options__option {
    margin-bottom: 0px !important;
  }

  .vnb__popup__bottom__menu-options__option__link:hover {
    border-left: 4px solid theme('colors.primary.500');
    color: theme('colors.primary.500');
    background: theme('colors.gray.200');
  }
}
</style>
