<template>
  <modal :name="'detail-modal' + pipelineId"
         @opened="opened"
         :scrollable="true"
         height="auto"
         width="50%"
         :adaptive="true">
    <div class="w-auto mx-4 my-4">
      <span class="block text-primary-500 font-bold uppercase text-sm mb-1">
        {{ project }}
      </span>
      <span class="block text-gray-900 font-bold text-xl mb-1">
        <a :href="getPipelineURL" target="_blank" class="break-words">
          {{ pipelineTitle }}
        </a>
      </span>
      <hr class="my-2" />
      <span class="block">
        <strong class="inline font-bold">Status: </strong>
        <p class="inline" :class="statusColor">{{ status }}</p>
      </span>
      <span class="block">
        <strong class="font-bold">Last Started: </strong> {{ humanizedStartTime }}
      </span>
      <p><strong class="font-bold">Last record recieved: </strong> {{ humanizeStreamSetsTime(analyticsPayload.lastRecordTime) }}</p>
      <p><strong class="font-bold">Input: </strong> {{ analyticsPayload.inputCounter }}</p>
      <p><strong class="font-bold">Output: </strong> {{ analyticsPayload.outputCounter }}</p>
      <p><strong class="font-bold">Error: </strong> {{ analyticsPayload.errorCounter }}</p>
      <ButtonBase class="mt-2"
                  color="secondary"
                  text-color="white"
                  @click="hide">
        <FontAwesomeIcon class="mr-2" :icon="['fas', 'times']"></FontAwesomeIcon>
        Close
      </ButtonBase>
    </div>
  </modal>
</template>

<script>
import StreamSetsService from '../store/services/StreamSetsService'
let moment = require('moment')

export default {
  name: 'PipelineDetailsModal',
  props: {
    /**
     * The pipeline title
     * @property {String} pipelineTitle
     */
    pipelineTitle: {
      type: String,
      required: true
    },
    /**
     * The pipeline Id
     * @property {String} pipelineId
     */
    pipelineId: {
      type: String,
      required: true
    },
    /**
     * The pipeline project
     * @property {String} project
     */
    project: {
      type: String,
      default: 'Pipeline'
    },
    /**
     * The pipeline's current status
     * @property {String} status
     */
    status: {
      type: String,
      required: true,
      validator: (value) => [
        'RUNNING',
        'STOPPED'
      ].indexOf(value) > -1
    },
    /**
     * The pipeline's start time
     * @property {Number} startTime a time stamp
     */
    startTime: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      analyticsPayload: {
        inputCounter: null,
        outputCounter: null,
        errorCounter: null,
        lastRecordTime: null
      }
    }
  },
  computed: {
    // Remove the GUID from the end of the pipeline name for human readability
    shortName () {
      return this.pipelineId.slice(0, -36)
    },
    getPipelineURL () {
      return `${process.env.VUE_APP_STREAMSETS_SERVER}/collector/pipeline/${this.pipelineId}`
    },
    humanizedStartTime () {
      return moment(this.startTime).startOf('minute').fromNow()
    },
    statusColor () {
      return this.status === 'RUNNING'
        ? 'text-success-500'
        : 'text-danger-500'
    }
  },
  methods: {
    hide () {
      this.$modal.hide(`detail-modal${this.pipelineId}`)
    },
    humanizeStreamSetsTime (val) {
      return moment(val).format('dddd, MMMM Do YYYY, h:mm:ss a')
    },
    opened (event) {
      StreamSetsService.fetchMetrics(this.pipelineId).then(response => {
        let converted = JSON.parse(response.data.data)
        this.analyticsPayload.inputCounter = converted.counters['pipeline.batchInputRecords.counter'].count
        this.analyticsPayload.outputCounter = converted.counters['pipeline.batchOutputRecords.counter'].count
        this.analyticsPayload.errorCounter = converted.counters['pipeline.batchErrorRecords.counter'].count
        this.analyticsPayload.lastRecordTime = converted.gauges['RuntimeStatsGauge.gauge'].value.timeOfLastReceivedRecord
      }).catch(function (error) {
        console.error(error)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.v--modal-overlay[data-modal="detail-modal"] {
  background: transparent;
}
</style>
