<template>
  <div class="container mx-auto">
    <div class="flex rounded my-2">
      <span class="flex-1 self-center text-center">Change Queue Count: {{ queueCounts.changeQueue }}</span>
      <div class="flex-1">
        <img class="mx-auto"
             width="200"
             alt="Vigil Logo" src="@/assets/VigilFull.png">
      </div>
      <span class="flex-1 self-center text-center">Job Queue Count: {{ queueCounts.jobQueue }}</span>
    </div>
    <p class="my-2 mx-auto text-center">
      <strong class="font-bold">Vigil </strong>
      <em class="italic">noun.</em>
      a purposeful surveillance to guard or observe
    </p>
  </div>
</template>

<script>
import StreamSetsService from '@/store/services/StreamSetsService'

export default {
  name: 'Statistics',
  data () {
    return {
      queueCounts: {
        changeQueue: null,
        jobQueue: null
      }
    }
  },
  mounted () {
    this.populateQueueCounts()
    window.setInterval(() => {
      this.populateQueueCounts()
    }, 500000)
  },
  methods: {
    populateQueueCounts () {
      StreamSetsService.fetchQueueCounts().then(response => {
        this.queueCounts.changeQueue = response.data.counts.change_queue['COUNT(*)']
        this.queueCounts.jobQueue = response.data.counts.job_queue['COUNT(*)']
      })
    }
  }
}
</script>

<style>

</style>
