<template>
  <modal :name="'tracked-pipelines-modal' + trackedPipeline.pipeline_id"
         @opened="opened"
         :scrollable="true"
         height="auto"
         width="50%"
         :adaptive="true">
    <div class="content-wrap mx-3 my-3">
      <p v-if="showErrors" class="text-red-600">{{ errors.body }}</p>
      <p class="my-1">Pipeline ID: {{ trackedPipeline.pipeline_id }}</p>
      <p class="my-1">Added By: {{ trackedPipeline.added_by }}</p>
      <hr class="my-4">
      <FormWrapper class="my-4">
        <div class="block text-primary-500 font-bold uppercase text-sm mb-1">
          Edit Pipeline
        </div>
        <InputBase type="text"
                   label="New ID:"
                   v-model="trackedPipeline.pipeline_id" />
        <CheckboxBase class="inline-block mx-2"
                      v-model="trackedPipeline.streaming">
          Streaming
        </CheckboxBase>
        <CheckboxBase class="inline-block"
                      v-model="trackedPipeline.batch">
          Batch
        </CheckboxBase>
      </FormWrapper>
      <div class="w-full max-w-sm my-4">
        <ButtonBase class="inline-block"
                    color="success"
                    text-color="white"
                    @click="editActivePipeline">
          <FontAwesomeIcon class="mr-2" :icon="['fas', 'pencil-alt']"></FontAwesomeIcon>
          Edit
        </ButtonBase>
        <ButtonBase class="inline-block mx-1"
                    color="danger"
                    text-color="white"
                    @click="deleteActivePipeline">
          <FontAwesomeIcon class="mr-2" :icon="['fas', 'trash']"></FontAwesomeIcon>
          Delete
        </ButtonBase>
        <ButtonBase class="inline-block"
                    color="secondary"
                    text-color="white"
                    @click="hide">
          <FontAwesomeIcon class="mr-2" :icon="['fas', 'times']"></FontAwesomeIcon>
          Close
        </ButtonBase>
      </div>
    </div>
  </modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'PipelineDetailsModal',
  props: {
    trackedPipeline: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      trackedPipelinePayload: {
        pipeline_id: null,
        added_by: null,
        batch: null,
        streaming: null
      },
      showErrors: false
    }
  },
  methods: {
    ...mapActions('pipelines', [
      'deleteTrackedPipeline',
      'updateTrackedPipeline'
    ]),
    opened (event) {
      this.trackedPipelinePayload.pipeline_id = this.trackedPipeline.pipeline_id
      this.trackedPipelinePayload.added_by = this.trackedPipeline.added_by
    },
    hide () {
      this.$modal.hide(`tracked-pipelines-modal${this.trackedPipeline.pipeline_id}`)
      this.trackedPipelinePayload.pipeline_id = null
      this.trackedPipelinePayload.added_by = null
    },
    async editActivePipeline () {
      const payload = {
        added_by: this.user.username,
        pipeline_id: this.trackedPipeline.pipeline_id,
        batch: this.trackedPipeline.batch,
        streaming: this.trackedPipeline.streaming
      }
      const response = await this.updateTrackedPipeline({ pipeline_id: this.trackedPipelinePayload.pipeline_id, payload })
      if (response === 200) {
        this.$modal.hide(`tracked-pipelines-modal${this.trackedPipeline.pipeline_id}`)
      } else {
        this.showErrors = true
      }
    },
    async deleteActivePipeline () {
      const response = await this.deleteTrackedPipeline(this.trackedPipelinePayload.pipeline_id)
      if (response === 202) {
        this.$modal.hide(`tracked-pipelines-modal${this.trackedPipeline.pipeline_id}`)
      } else {
        this.showErrors = true
      }
    }
  },
  computed: {
    ...mapGetters('users', [
      'user'
    ]),
    ...mapGetters('pipelines', [
      'errors'
    ])
  }
}
</script>
