<template>
  <div class="app">
    <component :is="layout">
      <router-view></router-view>
    </component>
  </div>
</template>

<script>
export default {
  name: 'App',
  computed: {
    /**
     * Return the layout specified in the router, or the default layout.
     * Layouts are registered in main.js as global components.
     * @returns {String}
     */
    layout () {
      return this.$route.meta.layout
        ? `${this.$route.meta.layout}-layout`
        : 'default-layout'
    }
  }
}
</script>

<style lang="postcss">
.app {
  @apply w-full h-full font-sans;
}
</style>
