// Fonts
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Icons
// TODO

// Package styles
@import '~vue-good-table/dist/vue-good-table.css';

// Base layout styles
html, body {
    height: 100%;
    width: 100%;
}