<template>
  <div class="defaultLayout">
    <Navbar />
    <Statistics />
    <slot></slot>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Statistics from '@/components/Statistics'

export default {
  name: 'Default',
  components: {
    Navbar,
    Statistics
  }
}
</script>

<style>
.defaultLayout {
  width: 100%;
  height: 100%;
}
</style>
