<template>
  <div class="minimalLayout">
    <Navbar />
    <slot></slot>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  name: 'Minimal',
  components: {
    Navbar
  }
}
</script>

<style>
.minimalLayout {
  width: 100%;
  height: 100%;
}
</style>
